<h1>Produkt číslo: <%= @product.id %></h1>
<h3>Názov produktu: <%= @product.name %></h3>
<p><%= image_tag @product.image_url %></p>
<p><%= @product.description.html_safe %></p>
<p></p>
<%= link_to "Späť", products_path, class: "btn btn-primary" %>
