<!DOCTYPE html>
<html>
<head>
  <title>Eshop</title>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header_admin">
  <div class="container">
    <ul class="nav nav-pills">
      <li><%= nav_item "Home", "#" %></li>
      <li><%= nav_item "Blog", admin_posts_path %></li>
      <li><%= nav_item "Kontakt", "#" %></li>
      <li><%= nav_item "Produkty", admin_products_path %></li>
      <ul class="nav nav-pills navbar-right">
        <li><%= link_to "Späť na User web", products_path %></li>
      </ul>
    </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>