<!DOCTYPE html>
<html>
<head>
  <title>Eshop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="container">
    <ul class="nav nav-pills">
      <li><%= nav_item "Home", "#" %></li>
      <li><%= nav_item "Blog", posts_path %></li>
      <li><%= nav_item "Kontakt", contact_path %></li>
      <li><%= nav_item "Produkty", products_path %></li>
        <li><%= link_to "Admin", admin_products_path %></li>
    </ul>
    </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
